<ul class="notices">
  <li>This form is for current UR students wishing to transfer in a single course.</li>
  <li>
    This form is for departmental approval only. If this course is approved, you must
    still complete all steps listed in the
    <%= link_to "transfer approval process", "http://math.richmond.edu/program/transfer.html" %>.
  </li>
</ul><!-- .notices -->

<%= form_tag new_transfer_request_path, method: :post do %>

  <div class="separator"><span>1</span> A little about you</div>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, params[:name], autofocus: true %>
  </div>
  <div>
    <%= label_tag :email %>
    <%= email_field_tag :email, params[:email] %>
  </div>

  <div class="separator"><span>2</span> Transfer school &amp; course</div>
  <div class="transfer-school">
    <%= label_tag :transfer_school %>
    <%= select_tag :transfer_school, options_from_collection_for_select(@transfer_schools, :id, :name) %>
  </div><!-- .transfer-school -->
  <div class="other-school">
    <div>
      <%= label_tag :other_school, "Transfer school" %>
      <%= text_field_tag :other_school %>
    </div>
    <div>
      <%= label_tag :other_school_location, "Location" %>
      <%= text_field_tag :other_school_location %>
    </div>
    <div>
      <%= label_tag :international %>
      <%= check_box_tag :international %>
    </div>
  </div><!-- .other-school -->
  <div>
    <%= label_tag :other_school_check, "Other school" %>
    <%= check_box_tag :other_school_check %>
  </div>
  <div class="transfer-course"></div>

  <div class="separator"><span>3</span> UR course</div>
  <div>
    <%= label_tag :course_number %>
    <%= select_tag :course_number, options_from_collection_for_select(@ur_courses, :id, :full_name) %>
  </div>

  <%= submit_tag "Submit" %>

<% end %>
