<div class="transfer-course-select">
  <%= label_tag :transfer_course_id %>
  <%= select_tag :transfer_course_id, options_from_collection_for_select(@transfer_courses, :id, :full_name) %>
</div><!-- .transfer-course-select -->
<div>
  <%= label_tag :transfer_course_other, "Other course" %>
  <%= check_box_tag :transfer_course_other %>
</div>
<div class="other-course">
  <div>
    <%= label_tag :transfer_course_name, "Transfer course" %>
    <%= text_field_tag :transfer_course_name %>
  </div>
  <div>
    <%= label_tag :transfer_course_num, "Course number" %>
    <%= text_field_tag :transfer_course_num %>
  </div>
  <div>
    <%= label_tag :transfer_course_url, "Catalog URL" %>
    <%= url_field_tag :transfer_course_url %>
  </div>
</div><!-- .other-course -->
<div>
  <%= label_tag :online %>
  <%= check_box_tag :online %>
</div>
<div>
  <%= label_tag :dual_enrollment %>
  <%= check_box_tag :dual_enrollment %>
</div>
