<div class="breadcrumbs">
  <%= link_to "Pending Requests", pending_requests_path %> >
  Review Pending Request
</div><!-- .breadcrumbs -->

<h2>Review Pending Request</h2>
<% if !@prev_request.nil? %>
  <div class="flash pending mini">This request has not been evaluated in 5 years.</div>
<% end %>
<% if !@prev_requests.nil? %>
  <div class="flash pending mini">
    In the past, this course has been successfully approved for transfer for the following
    UR courses:
    <ul>
      <% @prev_requests.each do |request| %>
        <li><%= request.ur_course.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<ul class="data-list">
  <li>
    <span class="key">Requester name:</span>
    <span><%= @request.requester_name %></span>
  </li>
  <li>
    <span class="key">Requester email:</span>
    <span><%= @request.requester_email %></span>
  </li>

  <% if @request.transfer_school_other %>
    <li>
      <span class="key">Transfer School:</span>
      <span><%= @request.transfer_school_name %> (<%= @request.transfer_school_location %>)</span>
    </li>
    <li>
      <span class="key">International:</span>
      <span><%= @request.transfer_school_international %></span>
    </li>
  <% else %>
    <li>
      <span class="key">Transfer School:</span>
      <span><%= @request.transfer_school.name %></span>
    </li>
  <% end %>

  <% if @request.transfer_course_other %>
    <li>
      <span class="key">Transfer Course:</span>
      <span><%= @request.transfer_course_name %> (<%= @request.transfer_course_num %>)</span>
    </li>
    <li>
      <span class="key">Course URL:</span>
      <span><%= link_to @request.transfer_course_url, @request.transfer_course_url %></span>
    </li>
  <% else %>
    <li>
      <span class="key">Transfer Course:</span>
      <span><%= @request.transfer_course.full_name %></span>
    </li>
  <% end %>
  <li>
    <span class="key">Dual enrollment:</span>
    <span><%= @request.dual_enrollment %></span>
  </li>

  <li>
    <span class="key">UR Course:</span>
    <span><%= @request.ur_course.full_name %></span>
  </li>
</ul><!-- .data-list -->

<%= form_tag pending_request_path(@request), method: :patch do %>
  <div>
    <%= label_tag :approved %>
    <% if @prev_request %>
      <%= check_box_tag :approved, "1", @prev_request.approved %>
    <% else %>
      <%= check_box_tag :approved %>
    <% end %>
  </div>
  <div>
    <%= label_tag :reasons %>
    <% if @prev_request %>
      <%= text_field_tag :reasons, @prev_request.reasons %>
    <% else %>
      <%= text_field_tag :reasons %>
    <% end %>
  </div>
  <%= submit_tag "Submit", class: "pending-submit" %>
<% end %>
