<ul class="notices">
  <li><%= link_to "Pending Requests", pending_requests_path %> > Review Pending Request</li>
</ul><!-- .notices -->

<h2>Pending Transfer Request Details</h2>
<ul>
  <li>Requester name: <%= @request.requester_name %></li>
  <li>Requester email: <%= @request.requester_email %></li>

  <% if @request.transfer_school_other %>
    <li><span>Transfer School:</span> <%= @request.transfer_school_name %> (<%= @request.transfer_school_location %>)</li>
    <li><span>International:</span> <%= @request.transfer_school_international %></li>
  <% else %>
    <li><span>Transfer School:</span> <%= @request.transfer_school.name %></li>
  <% end %>

  <% if @request.transfer_course_other %>
    <li><span>Transfer Course:</span> <%= @request.transfer_course_name %> (<%= @request.transfer_course_num %>)</li>
    <li><span>Course URL:</span> <%= link_to @request.transfer_course_url, @request.transfer_course_url %></li>
  <% else %>
    <li><span>Transfer Course:</span> <%= @request.transfer_course.full_name %></li>
  <% end %>
  <li><span>Dual enrollment:</span> <%= @request.dual_enrollment %></li>

  <li><span>UR Course:</span> <%= @request.ur_course.full_name %></li>
</ul>

<%= form_tag do %>
  <div>
    <%= label_tag :approve %>
    <%= check_box_tag :approve %>
  </div>
<% end %>

<%= form_tag pending_request_path(@request), method: :patch, class: "approve-request" do %>
  <%= submit_tag "Approve", data: { confirm: "Are you sure?" } %>
<% end %>

<%= form_tag "/admin/pending_requests/delete/#{@request.id}", class: "disapprove-request" do %>
  <div>
    <%= label_tag :reasons %>
    <%= text_field_tag :reasons %>
  </div>
  <%= submit_tag "Disapprove", data: { confirm: "Are you sure?" } %>
<% end %>
