<ul class="notices">
  <li><%= link_to "Pending Requests", pending_requests_path %> > Review Pending Request</li>
</ul><!-- .notices -->

<h2>Pending Transfer Request Details</h2>
<ul>
  <li>Requester name: <%= @request.requester_name %></li>
  <li>Requester email: <%= @request.requester_email %></li>

  <% if @request.transfer_school_other %>
    <li><span>Transfer School:</span> <%= @request.transfer_school_name %> (<%= @request.transfer_school_location %>)</li>
    <li><span>International:</span> <%= @request.transfer_school_international %></li>
  <% else %>
    <li><span>Transfer School:</span> <%= @request.transfer_school.name %></li>
  <% end %>

  <% if @request.transfer_course_other %>
    <li><span>Transfer Course:</span> <%= @request.transfer_course_name %> (<%= @request.transfer_course_num %>)</li>
    <li><span>Course URL:</span> <%= @request.transfer_course_url %></li>
  <% else %>
    <li><span>Transfer Course:</span> <%= @request.transfer_course.full_name %></li>
  <% end %>

  <li><span>UR Course:</span> <%= @request.ur_course.full_name %></li>
</ul>
