<%= render "error_messages" %>

<ul class="notices">
  <li>This form is for current UR students wishing to transfer in a math course.</li>
  <li>
    This form is for departmental approval only. If this course is approved, you must
    still complete all steps listed in the
    <%= link_to "transfer approval process", "http://math.richmond.edu/program/transfer.html" %>.
  </li>
</ul><!-- .notices -->

<%= form_for(@request, url: root_path) do |f| %>
  <div class="separator"><span>1</span> A little about you</div>
  <div>
    <%= f.label :requester_name, "Name" %>
    <%= f.text_field :requester_name %>
  </div>
  <div>
    <%= f.label :requester_email, "Email" %>
    <%= f.email_field :requester_email %>
  </div>

  <div class="separator"><span>2</span> Transfer school &amp; course</div>
  <div class="transfer-school">
    <%= f.label :transfer_school_id %>
    <%= f.select :transfer_school_id, content_tag(:option, "(Select your school)", value: -1) + options_from_collection_for_select(@transfer_schools, :id, :name) %>
    <div class="prompt">Don't see your school?<br />Check the "Other School" checkbox.</div>
  </div><!-- .transfer-school -->
  <div>
    <%= f.label :transfer_school_other, "Other school" %>
    <%= f.check_box :transfer_school_other %>
  </div>
  <div class="other-school">
    <div>
      <%= f.label :transfer_school_name, "Transfer school" %>
      <%= f.text_field :transfer_school_name %>
    </div>
    <div>
      <%= f.label :transfer_school_location, "Location" %>
      <%= f.text_field :transfer_school_location %>
    </div>
    <div>
      <%= f.label :transfer_school_international, "International" %>
      <%= f.check_box :transfer_school_international %>
    </div>
  </div><!-- .other-school -->
  <div class="transfer-course">
    <div class="transfer-course-select">
      <%= f.label :transfer_course_id %>
      <%= f.select :transfer_course_id, content_tag(:option, "(Select a school first)", value: -1) %>
      <div class="prompt course">Don't see your course?<br />Check the "Other Course" checkbox.</div>
    </div><!-- .transfer-course-select -->
    <div>
        <%= f.label :transfer_course_url, "Catalog URL" %>
        <%= f.url_field :transfer_course_url %>
    </div>
    <div>
      <%= f.label :transfer_course_other, "Other course" %>
      <%= f.check_box :transfer_course_other %>
    </div>
    <div class="other-course">
      <div>
        <%= f.label :transfer_course_name, "Course name" %>
        <%= f.text_field :transfer_course_name %>
      </div>
      <div>
        <%= f.label :transfer_course_num, "Course number" %>
        <%= f.text_field :transfer_course_num %>
      </div>
    </div><!-- .other-course -->
    <div>
      <%= label_tag :online %>
      No  <%= radio_button_tag :online, "0", true %>
      Yes <%= radio_button_tag :online, "1" %>
    </div>
    <div>
      <%= f.label :dual_enrollment %>
      No  <%= f.radio_button :dual_enrollment, "0", { checked: true } %>
      Yes <%= f.radio_button :dual_enrollment, "1" %>
    </div>
  </div><!-- .transfer-course -->

  <div class="separator"><span>3</span> UR course</div>
  <div>
    <%= f.label :ur_course_id, "UR course" %>
    <%= f.select :ur_course_id, content_tag(:option, "(Select equivalent UR course)", value: -1) + options_from_collection_for_select(@ur_courses, :id, :full_name_course_num) %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit", class: "inline-block" %>
    <%= link_to "Clear form", "#", class: "action-button warning clear-form" %>
  </div><!-- .form-actions -->
<% end %>
