<%= render "error_messages" %>

<ul class="notices">
  <li>This form is for current UR students wishing to transfer in a single course.</li>
  <li>
    This form is for departmental approval only. If this course is approved, you must
    still complete all steps listed in the
    <%= link_to "transfer approval process", "http://math.richmond.edu/program/transfer.html" %>.
  </li>
</ul><!-- .notices -->

<%= form_for(@request, url: root_path) do |f| %>
  <div class="separator"><span>1</span> A little about you</div>
  <div>
    <%= f.label :requester_name, "Name" %>
    <%= f.text_field :requester_name %>
  </div>
  <div>
    <%= f.label :requester_email, "Email" %>
    <%= f.email_field :requester_email %>
  </div>

  <div class="separator"><span>2</span> Transfer school &amp; course</div>
  <div class="transfer-school">
    <%= f.label :transfer_school_id %>
    <%= f.select :transfer_school_id, options_from_collection_for_select(@transfer_schools, :id, :name) %>
  </div><!-- .transfer-school -->
  <div>
    <%= f.label :transfer_school_other, "Other school" %>
    <%= f.check_box :transfer_school_other %>
  </div>
  <div class="other-school">
    <div>
      <%= f.label :transfer_school_name, "Transfer school" %>
      <%= f.text_field :transfer_school_name %>
    </div>
    <div>
      <%= f.label :transfer_school_location, "Location" %>
      <%= f.text_field :transfer_school_location %>
    </div>
    <div>
      <%= f.label :transfer_school_international, "International" %>
      <%= f.check_box :transfer_school_international %>
    </div>
  </div><!-- .other-school -->
  <div class="transfer-course">
    <div class="transfer-course-select">
      <%= f.label :transfer_course_id %>
      <%= f.select :transfer_course_id, "<option>Please enable JavaScript</option>".html_safe %>
    </div><!-- .transfer-course-select -->
    <div>
      <%= f.label :transfer_course_other, "Other course" %>
      <%= f.check_box :transfer_course_other %>
    </div>
    <div class="other-course">
      <div>
        <%= f.label :transfer_course_name, "Transfer course" %>
        <%= f.text_field :transfer_course_name %>
      </div>
      <div>
        <%= f.label :transfer_course_num, "Course number" %>
        <%= f.text_field :transfer_course_num %>
      </div>
      <div>
        <%= f.label :transfer_course_url, "Catalog URL" %>
        <%= f.url_field :transfer_course_url %>
      </div>
    </div><!-- .other-course -->
    <div>
      <%= label_tag :online %>
      <%= check_box_tag :online %>
    </div>
    <div>
      <%= f.label :dual_enrollment %>
      <%= f.check_box :dual_enrollment %>
    </div>
  </div><!-- .transfer-course -->

  <div class="separator"><span>3</span> UR course</div>
  <div>
    <%= f.label :ur_course_id, "UR course" %>
    <%= f.select :ur_course_id, options_from_collection_for_select(@ur_courses, :id, :full_name_course_num) %>
  </div>

  <%= f.submit "Submit" %>
<% end %>
