<%= render "error_messages" %>
<ul class="notices">
  <li>
    <%= link_to "Schools & Courses", schools_path %> >
    <%= link_to @transfer_school.name, edit_school_path(@transfer_school) %> >
    <%= link_to @transfer_course.name, edit_course_path(@transfer_school, @transfer_course) %> >
    New Transfer Request
  </li>
</ul><!-- .notices -->

<%= form_for @request, url: transfer_request_path(@request) do |f| %>
  <div class="separator"><span>+</span> New Transfer Request</div>
  <%= f.hidden_field :transfer_school_id, value: @transfer_school.id %>
  <%= f.hidden_field :transfer_course_id, value: @transfer_course.id %>
  <div>
    <%= f.label :ur_course_id, "UR course" %>
    <%= f.select :ur_course_id, options_from_collection_for_select(@ur_courses, :id, :full_name) %>
  </div>
  <div>
    <%= f.label :approved %>
    <%= f.check_box :approved %>
  </div>
  <div>
    <%= f.label :reasons %>
    <%= f.text_field :reasons %>
  </div>
  <%= f.submit %>
<% end %>
