<div class="breadcrumbs">
  <%= link_to "Schools & Courses", schools_path %> >
  <%= link_to @school.name, edit_school_path(@school) %> >
  New Course
</div><!-- .breadcrumbs -->

<%= form_for @course, url: courses_path(@school) do |f| %>
  <%= render "error_messages" %>
  <div class="separator"><span>+</span> New Course at <%= @school.name %></div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :course_num %>
    <%= f.text_field :course_num %>
  </div>
  <%= f.submit %>
<% end %>
