<%= render "error_messages" %>
<%= render "notices" %>

<%= form_for @course, url: courses_path(@school) do |f| %>
  <div class="separator"><span>+</span> New Course</div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :course_num %>
    <%= f.text_field :course_num %>
  </div>
  <%= f.submit %>
<% end %>
