<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(@title) %></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0" />
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<div class="wrapper <%= body_class(@body_class) %>">
  <h1 class="title">Math Course Transfer Request Form</h1>
  <%= render "shared/admin_nav" %>
  <div class="main">
    <%= render "shared/flash_messages" %>
    <%= yield %>
  </div><!-- .main -->
</div><!-- .wrapper -->

</body>
</html>
